<section class="user container">
  <div class="row">
    <div class="span10 offset1">
      <article>
        <header>
          <%= gravatar_for(@user) %>
          <h2><%= @user.full_name %>'s video collections (<%= @user.queue_items.count %>)</h2>
          <%= link_to "Follow", relationships_path(followed_id: @user), method: :post, class: "btn" if current_user.can_follow?(@user) %>
        </header>
        <table class="table">
          <thead>
            <tr>
              <th width="30%">Video Title</th>
              <th width="15%">Genre</th>
            </tr>
          </thead>
          <tbody>
            <% @user.queue_items.each do |queue_item| %>
              <tr>
                <td><%= link_to queue_item.video_title, queue_item.video %></td>
                <td><%= link_to queue_item.category_name, queue_item.category %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </article>
    </div>
  </div>
</section>

<section class="user_reviews container">
  <div class="row">
    <div class="span10 offset1">
      <header>
        <h3><%= @user.full_name %>'s Reviews (<%= @user.reviews.count %>)</h3>
      </header>
      <ul>
        <% @user.reviews.each do |review| %>
          <article class="review">
            <li class="row">
              <div class="span2">
                <p><%= link_to review.video_title, review.video %></p>
                <span>Rating: <%= review.rating %>/5</span>
              </div>
              <div class="span8">
                <p><%= review.content %></p>
              </div>
            </li>
          </article>
        <% end %>
      </ul>
    </div>
  </div>
</section>
