<article class="video">
  <div class="container">
    <div class="row">
      <div class="video_large_cover span7 offset1">
        <img src="<%= @video.large_cover_url.blank? ? "http://dummyimage.com/665x375/000000/00a2ff" : @video.large_cover_url %>" />
      </div>
      <div class="video_info span3">
        <header>
          <h3><%= @video.title %></h3>
          <span>Rating: 4.5/5.0</span>
        </header>
        <p><%= @video.description %></p>
        <div class="actions">
          <a href="" class="btn btn-primary">Watch Now</a>
          <%= link_to "+ My Queue", queue_items_path(video_id: @video), method: :post, class: "btn" unless current_user.queued_video?(@video) %>
        </div>
      </div>
    </div>
  </div>
</article>

<section class="reviews container">
  <div class="row">
    <div class="span10 offset1">
      <%= bootstrap_form_for [@video, Review.new] do |f| %>
        <fieldset>
          <%= f.select :rating, options_for_video_reviews, label: "Rate this video" %>
          <%= f.text_area :content, label: "Write Review", rows: "6", class: "span6" %>
        </fieldset>
        <fieldset class="actions clearfix">
          <%= f.submit "Submit", class: "btn" %>
          <%= link_to "Cancel", @video %>
        </fieldset>
      <% end %>
      <header>
        <h3>User Reviews (<%= @video.reviews.count %>)</h3>
      </header>
      <ul>
        <% @video.reviews.each do |review| %>
          <article class="review">
            <li class="row">
              <div class="span2">
                Rating: <%= review.rating %> / 5
                <p>
                  by
                  <%= link_to review.user.full_name, "#" %>
                </p>
              </div>
              <div class="span8">
                <p><%= review.content %></p>
              </div>
            </li>
          </article>
        <% end %>
      </ul>
    </div>
  </div>
</section>
