<section id="top-header" class="row">
  <h1 class="span2"><%= link_to "Netflix", root_path %></h1>
  <% if current_user %>
    <ul class="span4 clearflix">
      <li><%= link_to "Videos", home_path %></li>
      <li><%= link_to "My Queue", my_queue_path %></li>
      <li><%= link_to "People", people_path %></li>
    </ul>
    <%= form_tag search_videos_path, method: :post, class: "span5 for-search" do %>
      <%= text_field_tag "search_term", nil, placeholder: "Search for videos here", class: "search-query" %>
      <%= submit_tag "Search", class: "btn" %>
    <% end %>
    <div id="user_links" class="pull-right">
      <ul>
        <li class="dropdown">
          <a class="dropdown-toggle" data-target="#" data-toggle="dropdown" href="#" id="dlabel" role="button">
            Welcome, <%= current_user.full_name %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dlabel">
            <li><%= link_to "Account", "#" %></li>
            <li><%= link_to "Plan and Billing", "#" %></li>
            <li><%= link_to "Sign Out", sign_out_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>
</section>
